In [5]:
a = "Hello, Bala!" # total length of tha word #
print(len(a))

12

In [6]:
username = input("Enter username:") # get input from user #
print("Username is: " + username)

Enter username:bala
Username is: bala

In [11]:
def remove_spaces(str1):
  str1 = str1.replace(' ','')
  return str1
    
print(remove_spaces("w 3 res ou r ce"))
print(remove_spaces("a b c"))

w3resource
abc

In [2]:
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [2]:
# list of odd numbers
l=[]
for i in range(10):
    if i%2!=0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9]

In [4]:
import calendar
year=1998
month=12
x=calendar.month(year,month)
print(x)

   December 1998
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [1]:
a=9
b=1
c=a+b
print(c)

10

In [24]:
# simple calculator
def add(a , b):
    return a+b
def sub(a , b):
    return a-b
def mul(a , b):
    return a*b
def div(a , b):
    return a//b
print("""Select opection
1.add
2.sub
3.mul
4.div
""")

choice =int (input("Enter your choice"))
#a = int(input("enter number 1"))
b=int(input("enter number 2"))
if choice == 1:
   print (add(20, b))
elif choice == 2:
    print(sub(a, b))
elif choice == 3:
    print(mul(2000, b))
elif choice == 4:
   print( div(a, b))
else:
    print("Enter correct choice")

Select opection
1.add
2.sub
3.mul
4.div

Enter your choice3
enter number 23
6000

In [50]:
a=["apple","orange","mango","apple","apple"]
b={}
for i in a:
    if i in b.keys():
        b[i]+=1
    else:
        b[i]=1
print(b)

{'apple': 3, 'orange': 1, 'mango': 1}

In [11]:
a=("bala@gmail.com","test@gmail.com","priya@yahoo","test@gmail.com")
b=[]
for i in set(a):
    c=i.split("@")[1]
    b.append(c)
print(b)

['gmail.com', 'gmail.com', 'yahoo']

In [22]:
def test (a,b):
    print (a+b)

In [23]:
test (a,b)

TypeError: can only concatenate tuple (not "dict") to tuple

In [20]:
def test(a,b):
    return (a,b)
a = test(5,4)

In [21]:
print(a)

(5, 4)

In [28]:
b = test (a,6)

TypeError: can only concatenate tuple (not "int") to tuple

In [26]:
print (b)

{'apple': 3, 'orange': 1, 'mango': 1}

In [29]:
a = "hi"

def test():
    a = "hello"
    return (a)

print(a)
a = test()
print(a)

hi
hello

In [30]:
a = "hi" # global variable

def test():
    a = "hello" # local variable
    print (a)

print(a)
test()
print(a)

hi
hello
hi

In [31]:
a = "hi" # global variable

def test():
    global a
    a = "hello" # local variable change in global variable
    print (a)

print(a)
test()
print(a)

hi
hello
hello

In [35]:
def fb_name(f_name,m_name,l_name):
    print("first name is",f_name)
    print("middle name is",m_name)
    print("last name is",l_name)

In [36]:
fb_name("bala","ramesh","raju")

first name is bala
middle name is ramesh
last name is raju

In [37]:
fb_name(l_name="bala",m_name="raju",f_name="ramesh")

first name is ramesh
middle name is raju
last name is bala

In [ ]:
def get_dtails(inp,op):
    if op == "count":
        
        d={}
        for i in inp:
            d[i] = inp.count(i)
            return d
    elif op =="unique":
            return set(inp)
    elif op == "duplicate":
            l=[]
            f_list = []
            for i in inp:
                if i in l:
                    f_list.append(i)
                else:
                    l.append(i)
            return f_list

In [35]:
a = ["apple","apple","mango","lemon","mango"]
a = get_dtails(a,"duplicate")
print(a)

['apple', 'mango']

In [36]:
a = ["apple","apple","mango","lemon","mango"]
a = get_dtails(a,"unique")
print(a)

{'mango', 'apple', 'lemon'}

In [20]:
a = ["apple","apple","mango","lemon","mango"]
a = get_dtails(a,"count")
print(a)

{'apple': 2}

In [46]:
# Using sets to count unique values in a list
a_list = ['apple', 'orage', 'apple', 'banana', 'apple', 'apple', 'orange', 'grape', 'grape', 'apple']


num_values =a_list.count("apple")

print(num_values)

5

In [40]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [52]:
import math
math.floor(3.5)

3

In [61]:
a="malayalam"
print(len(a))
    print(a)
    print(9//2)

IndentationError: unexpected indent (3525633533.py, line 3)

In [1]:
class calc():
    def add(self,a,b):
        print(a+b)
    def sub(self,a,b):
        print(a-b)

In [2]:
a = calc()
a.add(5,4)

9

In [4]:
print(calc)

<class '__main__.calc'>

In [5]:
print(a)

<__main__.calc object at 0x00000288A8F23550>

In [6]:
class hotel():
    
    def floor(self,a):
        if a == "1":
            print("veg")
        elif a == "2":
            print("non veg")
    def dish(self,a):
        if a == "1":
            print("veg biryani")
        elif a == "2":
            print("chicken briyani")

In [7]:
a = hotel()
a.floor("1")
a.dish("2")

veg
chicken briyani

In [17]:
class hotel():
    
    
    def __init__(self,a):
        self.a = a
        
    def floor(self):
        if self.a == "1":
            print("veg")
        elif self.a == "2":
            print("non veg")
            
    def dish(self):
        if self.a == "1":
            print("veg biryani")
        elif self.a == "2":
            print("chicken briyani")

In [15]:
a = hotel("1")
a.floor()
a.dish()

veg
veg biryani

In [16]:
b = hotel("2")
b.floor()
b.dish()

non veg
chicken briyani

In [18]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'dish',
 'floor']

In [9]:
# today topic
## oops
## single inheritance
class calc():
    
    def add(self,a,b):
        print(a+b)
    def sub(self,a,b):
        print(a-b)

In [10]:
class calc1(calc):
    
    def multiply(self,a,b):
        print(a*b)

In [11]:
class calc2(calc1):
    def div(self,a,b):
        print(a/b)

In [13]:
a = calc2()

In [18]:
a.div(5,4)
a.multiply(5,4)
a.add(4,5)
a.sub(4,5)

1.25
20
9
-1

In [19]:
from abc import ABC , abstractmethod
class calc(ABC):
    
    @abstractmethod
    def add(self):
        pass
    @abstractmethod
    def sub(self):
        pass
class calc1(calc):
    
    def add(self,a,b):
        print(a+b)
    def sub(self,a,b):
        print(a-b)
    def mul(self,a,b):
        print(a*b)
a = calc1()

In [20]:
a.add(5,4)

9

In [21]:
#control statment
for i in range(5):    
    if i == 3:
        break
    print(i)

0
1
2

In [22]:
for i in range(5):    
    if i == 3:
        continue
    print(i)

0
1
2
4

In [23]:
for i in range(5):    
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [24]:
def test(a,b):
    print(a,b)
test(1,2)

1 2

In [25]:
#position argument
def test(*args):
    print(args)
test(1,2,3,4,5,6,7,8,9,0)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [30]:
#key word argument
def myFun(**kwargs):
    print(kwargs)
    print(kwargs.get("b"))

# Driver code
myFun(a=1, b = 2 , c = 3)

{'a': 1, 'b': 2, 'c': 3}
2

In [29]:
#inline function
a = lambda x : x+5
a(5)

10

In [31]:
a = lambda a,b : a*b
a(5,4)

20

In [32]:
# list comprehension
a = [x for x in range(10)]
print(a)
a = [x for x in range(10) if x % 2 == 0]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [33]:
a = {x : x**2 for x in range(10)}
print(a)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [35]:
a = ["one" , "two" , "three"]
b = [1,2,3]
c = zip(b,a)
print(dict(c))

{1: 'one', 2: 'two', 3: 'three'}

In [36]:
# Nested list comprehension
matrix = [[j for j in range(5)] for i in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]